<a href="https://colab.research.google.com/github/SushruthDt/Sushruth_data690/blob/main/Assignment_4/InClassExcercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 @ 2 4 @ @ 2 0 8 @ @
 @ 8 0 4 @ @ @ @ 8 @
 @ 2 @ @ @ @ @ @ @ @
 4 @ 2 4 8 4 0 6 @ 0
 6 @ @ @ 8 @ @ 2 6 0
 @ 8 @ @ 4 @ 4 8 @ @
 @ @ @ @ 4 @ @ 6 8 @
 @ 8 6 @ @ @ @ @ 4 0
 8 2 2 @ @ @ 2 @ 6 @
 @ 8 @ @ 4 @ 0 4 @ @

In [3]:
#  generate 100 number first
numbers=[]     # This list is to hold 100 random numbers
for i in range(100):
    numbers.append(random.randint(0, 9))
print(numbers)
print(len(numbers))

[9, 7, 2, 3, 6, 7, 2, 1, 6, 5, 6, 4, 1, 6, 6, 5, 5, 9, 5, 1, 8, 0, 7, 4, 3, 4, 0, 7, 0, 9, 0, 1, 9, 6, 9, 2, 3, 2, 8, 9, 3, 4, 3, 3, 3, 1, 0, 2, 2, 0, 7, 7, 0, 2, 8, 1, 4, 9, 2, 9, 5, 0, 0, 6, 1, 9, 6, 1, 4, 4, 5, 8, 9, 7, 1, 8, 2, 1, 4, 4, 0, 3, 3, 0, 9, 3, 5, 9, 9, 2, 8, 3, 1, 4, 8, 7, 9, 9, 8, 0]
100

In [4]:
count=0
for i in range(10):
    for j in range(10):
        print(numbers[count]," ", end =" ")
        count+=1
    print("\n")

9   7   2   3   6   7   2   1   6   5

6   4   1   6   6   5   5   9   5   1

8   0   7   4   3   4   0   7   0   9

0   1   9   6   9   2   3   2   8   9

3   4   3   3   3   1   0   2   2   0

7   7   0   2   8   1   4   9   2   9

5   0   0   6   1   9   6   1   4   4

5   8   9   7   1   8   2   1   4   4

0   3   3   0   9   3   5   9   9   2

8   3   1   4   8   7   9   9   8   0